<%
const cfg = {...require("./data.json"), ...arguments?.[0]};
const {
    extraClasses,
    extraAttrs,
    icon,
    caption,
    description
} = cfg;
%>
<%
const classes = `service-card ${extraClasses.join(" ")}`.trim();
const attrs = extraAttrs.join(" ");
%>

<div
        class="<%= classes; %>"
        <%- attrs; %>
>
    <div class="service-card__icon">
        <svg class=" i-icon i-<%- icon %>">
            <use href="#<%- icon %>"></use>
        </svg>
    </div>
    <div class="service-card__caption"><%- caption %></div>
    <div class="service-card__description"> <%- description %></div>
    <div class="service-card__btn-call">
        <%- require("../button/template.ejs")({
            extraClasses: ["button--transparent"],
            extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-call"}'`],
            label: "Заказать звонок"
        }) %>
    </div>

</div>
