<section class="section feedback">
    <div class="container">
        <h2 class="feedback__title title">Отзывы</h2>
        <span class="feedback__subtitle subtitle"> </span>
        <div class="feedback__content">
            <div class="feedback__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores at
                blanditiis cum eos eum incidunt ipsam mollitia necessitatibus nesciunt nostrum officiis optio pariatur
                perferendis, porro quaerat quam quasi qui quisquam ratione rerum saepe sed similique soluta suscipit ut
                vitae. Architecto dolore ipsa laudantium maxime non porro quaerat reprehenderit velit!
            </div>
            <div class="feedback__slider">
                <div class="swiper " id="slider-feedback">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                        <div class="swiper-slide">
                            <%- require("../components/feedback-card/template.ejs")({
                                img: "./images/main/slide_0.jpg"
                            }) %>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="feedback__more button__more">
            <%- require("../components/button/template.ejs")({
                extraClasses: ["button--transparent"],
                label: "Все отзывы",
                icon: "icon-arrow",
                iconPosition: "right"
            }); %>
        </div>

    </div>
</section>