<section class="section service">
    <div class="container">
        <h2 class="service__title title">Наши услуги</h2>
        <span class="service__subtitle subtitle"></span>
        <ul class="service__list">
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li> <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li> <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    icon: "icon-facebook",
                    caption: "Lorem ipsum dolor sit amet.",
                    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam odio sapiente voluptates. A, ab asperiores atque culpa deserunt et harum ipsa, non perferendis ratione repellat sed sit sunt, temporibus!"
                }); %>
            </li>
        </ul>
        <div class="service__more">
            <%- require("../components/button/template.ejs")({
                extraClasses: ["button--transparent"],
                label: "Посмотреть все услуги",
                icon: "icon-arrow",
                iconPosition: "right"
            }); %>
        </div>
    </div>
</section>