<section class="section service">
    <div class="container">
        <h2 class="service__title title">Наши услуги</h2>
        <span class="service__subtitle subtitle"></span>
        <ul class="service__list">
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id: 1,
                    icon: "icon-consultation",
                    caption: "Консультации",
                    description: "Консультация врача-стоматолога - важный этап любого стоматологического вмешательства в процессе которого пациент и лечащий врач определяют те направления, которые на сегодняшний день являются приоритетными для пациента - лечение зубов, протезирование, исправление прикуса, гигиенические процедуры."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id: 1,
                    icon: "icon-diagnostic",
                    caption: "Диагностика",
                    description: "Функциональная дентальная диагностика - это комплекс исследовательских процедур во взрослой и детской стоматологии, которые помогают нашим врачам проанализировать состояние здоровья пациента, выявить причину заболевания, оценить масштаб и сложность будущей работы, спрогнозировать продолжительность и этапы лечения."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 0,
                    icon: "icon-treatment",
                    caption: "Лечение зубов",
                    description: "Широкий спектр услуг в стоматологических клиниках, направленных на профессиональную визуальную или рентген диагностику, профилактические процедуры и лечение заболеваний ротовой полости – дёсен, слизистой и непосредственно зубов называется терапевтической стоматологией."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 1,
                    icon: "icon-prosthetics",
                    caption: "Протезирование",
                    description: "Протезирование зубов – это изготовление ортопедической конструкции в ротовой полости при частичной или полной потере зубов."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 2,
                    icon: "icon-implantation",
                    caption: "Имплантация зубов",
                    description: "Имплантология - это область стоматологии, которая исследует и применяет методы восстановления зубов посредством внедрения в костную ткань искусственных конструкций в качестве опоры под протезы. Говоря о дентальной имплантации, мы имеем в виду комплекс мер, направленный на воссоздание зубного ряда."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 3,
                    icon: "icon-whitening-1",
                    caption: "Отбеливание зубов",
                    description: "Отбеливание зубов в стоматологии – процедура, которую выполняют с использованием высококачественных материалов и аппаратов, направленных на изменение цвета эмали зубов, в результате их цвет становится на несколько тонов светлее исходного оттенка."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 4,
                    icon: "icon-teeth-decoration",
                    caption: "Украшение зубов",
                    description: "Скайсы на зубы<br>Твинклзы<br>Наклейки на зубы"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 5,
                    icon: "icon-whitening",
                    caption: "Гигиена полости рта",
                    description: "Профессиональная гигиена полости рта – это процедура тщательной профессиональной очистки зубов от налетов и зубных камней с целью соблюдения гигиены и профилактики возникновения заболеваний ротовой полости"
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 6,
                    icon: "icon-surgery",
                    caption: "Хирургия",
                    description: "Удаление зубов – это крайняя мера к которой прибегают врачи лишь в том случае, если все другие методы лечения не дали положительного результата. Основная задача врача стоматолога-хирурга заключается в максимальном сохранении целостности зубов, эстетичного вида и функциональности обеих челюстей. Для этого в рамках хирургической стоматологии предлагается комплексный подход к лечению различных заболеваний."
                }); %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")({
                    id_service: 7,
                    icon: "icon-treatment",
                    caption: "Лечение десен",
                    description: "Лечение десен – это комплекс процедур, направленных на устранение заболеваний пародонта.<br>Пародонт – это комплекс тканей, окружающих зуб (десна, кость челюсти вокруг зуба, связка иверхние ткани, покрывающие корень)."
                }); %>
            </li>
        </ul>
        <div class="service__more button__more">
            <%- require("../components/button/template.ejs")({
                extraClasses: ["button--transparent"],
                label: "Все услуги",
                icon: "icon-arrow",
                iconPosition: "right"
            }); %>
        </div>
    </div>
</section>