<section class="service">
    <div class="container">
        <h2 class="service__title title">Наши услуги</h2>
        <span class="service__subtitle subtitle"></span>
        <ul class="service__list">
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
            <li class="service__item">
                <%- require("../components/service-card/template.ejs")() %>
            </li>
        </ul>
        <div class="service__more">
            <%- require("../components/button/template.ejs")() %>
        </div>
    </div>
</section>