<%
const cfg = {...require("./data.json"), ...arguments?.[0]}
const {
    extraClasses,
    extraAttrs,
    text,
    title,
    img
} = cfg
%>
<%
const classes = `about-card ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<div
        class="<%= classes %>"
        <%- attrs %>
>
    <div class="about-card__content">
        <h4 class="about-card__title"><%- title %></h4>
        <div class="about-card__text"><%- text %></div>
    </div>
    <div class="about-card__media">
        <img src="<%= img %>" alt="<%= title %>" loading=lazy>
    </div>

</div>
